:root {
    width: 100%;
    height: 100%;
}

ul {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 1rem;
}

li.no-text {
    color: var(--text-muted);
}

li.not-first {
    padding-left: 2.5rem;
}

li:hover {
    color: var(--primary);
    background-color: var(--bg-light);
    font-weight: bold;
}

li.selected {
    color: var(--primary);
    font-weight: bold;
}