:root {
    background-color: var(--bg-dark);
}

.main {
    height: calc(100% - 60px);
    top: 60px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.empty-slides {
    height: 100%;
    flex: 1;
}

.right {
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    overflow: hidden;
}