:root {
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    flex: 1 1 auto;
    min-height: 0;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

.sidebar-controls{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .sidebar-controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    border-radius: 1rem;
  }
  
  .sidebar-controls button:hover {
    color: var(--primary);
    background-color: var(--bg-light);
  }
  
  .sidebar-controls button.selected {
    color: var(--primary);
    background-color: var(--bg-light);
  }

.sidebar-panel {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}