:root {
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 16px;
    overflow: auto;
    padding: 16px;
    justify-content: center;
    justify-items: center;
    align-content: start;
    box-sizing: border-box;
}

.slide-wrapper {
    width: 100%;
    min-width: 320px;
    aspect-ratio: 16 / 9;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

.slide-header {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    padding-left: 6px;
    flex-shrink: 0;
    background-color: var(--bg-dark);
    color: var(--text-muted);
}