:root {
    container-type: inline-size;
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}

:root.text-orientation-top {
    justify-content: start;
}

:root.text-orientation-center {
    justify-content: center;
}

:root.text-orientation-bottom {
    justify-content: end;
}

:root.container-align-left {
    align-items: flex-start;
}

:root.container-align-center {
    align-items: center;
}

:root.container-align-right {
    align-items: flex-end;
}

:root.background-0 {
    background: black;
}

:root.background-1 {
    background: radial-gradient(circle at center, oklch(0.55 0.21 27) 0%, oklch(0.45 0.21 27) 100%);
}

:root.background-2 {
    background-image: url('/ray.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

:root.expand {
    aspect-ratio: auto;
    height: 100%;
}

.text-container.text-align-left .line {
    text-align: left;
}

.text-container.text-align-center .line {
    text-align: center;
}

.text-container.text-align-right .line {
    text-align: right;
}