:root {
    background-color: var(--bg);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: visible;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--fg1);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

button:hover {
    color: var(--primary);
}

.seperator {
    width: 100%;
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

li:hover span {
    color: var(--primary);
}

li span.material-symbols-outlined {
    margin-right: 0.5rem;
}

li.selected {
    color: var(--primary);
}

span {
  line-height: 1;
  vertical-align: middle;
}

ul.active {
    display: block;
    background-color: var(--bg);
    border-radius: 1rem;
    transform: translateY(1.5rem);
    height: fit-content;
    width: fit-content;
    overflow: visible;
    z-index: 1000;
}

ul.active li {
    margin: 1rem;
}