body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  background-color: #222222;
  color: #AAAAAA;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border: 0.2em solid #333333;
}
