body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  background-color: #262626;
  color: #DDDDDD;
}

button {
  background-color: #262626;
  border: none;
  color: #DDDDDD;
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 0.8em;
}

.selected-button {
  background-color: #333333;
}

button:hover {
    background-color: #333333;
}

::-webkit-scrollbar {
  display: none;
  width: 1em;
}

.div-fill {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border: 0.2em solid #333333;
}
