body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  background-color: #222222;
  color: #DDDDDD;
}

button {
  background-color: #222222;
  border: none;
  color: #DDDDDD;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  padding: 0.8em;
}

button:hover {
    background-color: #333333;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border: 0.2em solid #333333;
}
