services:
  db:
    image: surrealdb/surrealdb:v2.0.5
    command: start --log debug --user root --pass root memory --allow-scripting
    ports:
    - 8000:8000

  proxauth:
    image: xilefmusics/proxauth:0.1.0
    environment:
      CONFIG: |
        users:
        - username: test
          password: 5fa96090628b61ce59ce0a40b30710c584c8d294885ea0dfbaf491ed8970d9f4
          salt: 11463a4a-9f9c-4e17-bd05-96ebc1a68277
        rules:
        - toHost: host.docker.internal
          toPort: 8082
          fromPath: "/api"
          toPath: "/api"
          allowedUsers: [test]
          backgroundColor: "#1e1e1e"
          textColor: "#ebdbb2"
          primaryColor: "#cc241d"
          title: "Worship Viewer"
        - toHost: host.docker.internal
          toPort: 8080
          allowedUsers: [test]
          redirectToLogin: true
          backgroundColor: "#1e1e1e"
          textColor: "#ebdbb2"
          primaryColor: "#cc241d"
          title: "Worship Viewer"
    ports:
    - 8081:8080
