:root {
  color-scheme: dark;
  --primary: oklch(0.55 0.21 27);
  --bg-dark: oklch(0.1 0 264);
  --bg1: oklch(0.1 0 264);
  --bg: oklch(0.2 0 264);
  --bg2: oklch(0.2 0 264);
  --bg-light: oklch(0.26 0 264);
  --bg3: oklch(0.26 0 264);
  --text: oklch(0.96 0 264);
  --fg1: oklch(0.96 0 264);
  --text-muted: oklch(0.76 0 264);
  --fg2: oklch(0.76 0 264);
  font-family: "Rubik", sans-serif;
  --shadow-s:
      inset 0 1px 2px #ffffff50,
      0 1px 2px #00000030,
      0 2px 4px #00000015;
  --shadow-m:
      inset 0 1px 2px #ffffff50,
      0 2px 4px #00000030,
      0 4px 8px #00000015;
  --shadow-l:
      inset 0 1px 2px #ffffff70,
      0 4px 6px #00000030,
      0 6px 10px #00000015;
}


* {
  color: var(--fg1);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg1);
  height: 100dvh;
  width: 100dwh;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none; 
}

header#vertical-layout {
  height: 4rem;
  background-color: var(--bg2);
  margin: 0.8rem 0.8rem 0 0.8rem;
  border-radius: 1.6rem;
  width: calc(100vw - 1.6rem);
  display: flex; 
  justify-content: right;
  align-items: center;
}

header#vertical-layout li {
  padding: 0.2rem 0.2rem;
  border-radius: 1rem;
  margin-right: 1rem;
  list-style: none;
}

header#vertical-layout li.selected {
  background-color: var(--bg3);
}

header#vertical-layout li .text {
  display: none; 
}

header#vertical-layout li .icon {
  color: var(--fg1);
  font-size: 2rem;
  transition: font-size 0.3s ease; 
}

header#vertical-layout li .icon:hover {
  color: var(--primary);
  font-size: 2.6rem;
}

header#vertical-layout li.selected .icon {
  color: var(--primary);
}

main#vertical-layout {
  flex: 1;
  background-color: var(--bg1);
  overflow: scroll;
}

footer#vertical-layout {
  height: 4rem;
  background-color: var(--bg2);
}

footer#vertical-layout nav {
  height: 100%;
}

footer#vertical-layout nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer#vertical-layout nav li {
  margin: 1rem; 
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
}

footer#vertical-layout nav li.selected {
  background-color: var(--bg3);
}

footer#vertical-layout nav li .text {
  display: none; 
}

footer#vertical-layout nav li .icon {
  font-size: 2rem;
  color: var(--fg1);
  transition: font-size 0.3s ease; 
}

footer#vertical-layout nav li:hover .icon {
  font-size: 2.6rem;
  color: var(--primary);
}

footer#vertical-layout nav li.selected .icon {
  color: var(--primary);
}

.fancy-yew-toast-notifications{
  position: fixed;
  top: 30px;
  right: 20px;
}

.fancy-yew-toast-notification{
  position: relative;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  width: 400px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  border-radius: 5px;
  animation: fancy-yew-toast-notifications-show-animation 0.3s ease 1 forwards  
}

.fancy-yew-toast-notification .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.fancy-yew-toast-notification .title{
  font-size: x-large;
  font-weight: bold;
}

.fancy-yew-toast-notification span, .fancy-yew-toast-notification i:nth-child(3){
  color: #fff;
  opacity: 0.6;
}

@keyframes fancy-yew-toast-notifications-show-animation{
  0%{
      transform: translateX(100%);
  }
  40%{
      transform: translateX(-5%);
  }
  80%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-10%);
  }
}

.fancy-yew-toast-notification::before{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  width: 100%;
  height: 3px;
  content: '';
  box-shadow: 0 0 10px var(--color);
  animation: fancy-yew-toast-notifications-timeOut-animation 5s linear 1 forwards
}

@keyframes fancy-yew-toast-notifications-timeOut-animation{
  to{
      width: 0;
  }
}

.fancy-yew-toast-notification.success{
  --color: #689d6a;
  background-image: 
      linear-gradient(
          to right, #689d6a, #1e1e1e 30%
      );
}

.fancy-yew-toast-notification.error{
  --color: #cc241d;
  background-image: 
      linear-gradient(
          to right, #cc241d, #1e1e1e 30%
      );
}

.fancy-yew-toast-notification.warning{
  --color: #d79921;
  background-image: 
      linear-gradient(
          to right, #d79921, #1e1e1e 30%
      );
}

.fancy-yew-toast-notification.info{
  --color: #458588;
  background-image: 
      linear-gradient(
          to right, #458588, #1e1e1e 30%
      );
}