:root {
  height: var(--vh);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex: 1;
}

.collections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.7em;
  width: 100%;
  padding: 0 0.7em;
  box-sizing: border-box;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  overflow-y: scroll;
}

.tile {
  background-size: cover;
  background-position: center;
  padding: 20px;
  padding-bottom: calc(1.414 * 100%);
  border-radius: 5px;
  transition: transform 0.3s ease;
  min-width: 100px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

.tile:hover {
  transform: scale(1.03);
}
