:root {
  width: 100%;
  height: 100%;
}

.left {
  align-items: left;
  min-width: 8rem;
}

.middle {
  flex: 1;
  align-items: left;
  min-width: 8rem;
  padding-left: 1rem;
}

.right {
  align-items: right;
  min-width: 4rem;
  text-align: right;
}