.CodeMirror {
  background-color: var(--bg-dark);
  color: var(--fg1);
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

.CodeMirror-cursor {
  border-left: 1px solid var(--fg2);
}

.CodeMirror-gutters {
  background-color: var(--bg-dark);
  border: unset;
}

