:root {
  display: flex;
  flex-direction: column;
}

.controlls {
  display: flex;
  justify-content: flex-end;
  height: 1.6em;
  border-bottom: 1px solid var(--fg2);
  font-size: 2em;
  margin-bottom: 0.3em;
}

.controlls span {
  padding: 0.3em;
  font-size: 1em;
}

.controlls span:hover {
  color: var(--primary);
  border-bottom: 5px solid var(--primary);
  font-weight: bold;
}
