:root {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.image-wrapper-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.image-wrapper {
    position: relative;
}

img {
    top: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
}

.first {
    left: 0;
}

.second {
    right: 0;
}

.second.half-page-scroll {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    object-position: top;
    border-bottom: 5px solid var(--bg1);
}
