:root {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.page-wrapper {
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    height: 100%;
}

.first {
    left: 1;
}

.second {
    right: 0;
}

.second.half {
    height: 50%;
    border-bottom: 5px solid var(--bg1);
    overflow: hidden;
}

