:root {
  background-color: var(--bg1);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

li {
  margin: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 1rem;
}

li:hover {
  color: var(--primary);
  background-color: var(--bgh);
}

.filter-sort-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter-sort {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 1rem;
}

.filter-sort:hover {
  color: var(--primary);
  background-color: var(--bgh);
}

.selected {
  color: var(--primary);
  background-color: var(--bgh);
}
