:root {
  background-color: var(--bg1);
  height: 60px;
  width: 100vw;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.button {
  font-size: 2.4rem;
  margin: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 1.4rem;
}

.button:hover {
  color: var(--primary);
  background-color: var(--bgh);
}

.selected {
  color: var(--primary);
  background-color: var(--bgh);
}
