:root {
	--primary: #bb0000;
	--fg1: rgba(255, 255, 255, 0.7);
	--fg2: rgba(255, 255, 255, 0.5);
	--bgh: #2c2e2e;
	--bg1: #272727;
	--bg2: #1e1e1e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--fg1);
}

.app {
  width: 100vw;
  height: 100dvh;
	background: var(--bg2);
	font-size: 1.4rem;
}

