:root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.collections {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  overflow-y: scroll;
  width: 100vw;
  padding: 1rem;
  align-items: start;
  grid-gap: 1rem;
}

.flex-fill {
  flex: 1;
}

@media (min-width: 400px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .collections {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .collections {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) {
  .collections {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .collections {
    grid-template-columns: repeat(6, 1fr);
  }
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
