:root {
  background-color: var(--bg1);
  height: 60px;
  width: 100vw;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.button {
  font-size: 2.5rem;
  margin: 1.5rem;
}

.button:hover {
  color: var(--primary);
}

.selected {
  color: var(--primary);
}
