:root {
  height: 100vh;
  width: 100vw;
  --top-bottom-height: 60px;
}

.top {
  visibility: hidden;
  height: 0;
  background-color: var(--bg2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.top.active {
  visibility: visible;
  height: var(--top-bottom-height);
}

.back-button {
  margin: 1em;
}

.back-button:hover {
  color: var(--primary);
}

.middle {
  height: 100vh;
}

.middle.active { 
  top: 60px;
  height: calc(100vh - 2 * var(--top-bottom-height));
}

.bottom {
  visibility: hidden;
  height: 0;
  background-color: var(--bg2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom.active {
  visibility: visible;
  height: var(--top-bottom-height);
}

.index-chooser {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 2px;
  margin: 1em;
  background: #484848;
}

.index-chooser:focus {
  outline: none;
}

.index-chooser::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.index-chooser::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

.scroll-changer {
  margin-left: 1em;
}

.toc {
  visibility: hidden;
  position: absolute;
  top: var(--top-bottom-height);
  left: 0;
  height: calc(100vh - 2 * var(--top-bottom-height));
  width: 20em;
}

.toc.active {
  visibility: visible;
}
