:root {
  background-color: var(--bg1);
  height: 60px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: calc(100vw - 2rem);
}

.left {
  width: 120px; 
}

.center {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.right {
}

.account {
  padding-top: 5px;
  height: 50px;
  font-size: 50px;
  margin-right: 10px;
}

input {
  background-color: transparent;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 1.4rem;
  vertical-align: 2px;
}

::placeholder {
    color: var(--fg2);
}

.search-icon {
  font-size: 2.4rem;
  color: var(--fg2);
  vertical-align: -10px;
}
