:root {
	--bg: #282828;
  --fg: #ebdbb2;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --orange: #d65d0e;
  --gray: #a89984;

	--primary: #bb0000;
	--fg1: rgba(255, 255, 255, 0.7);
	--fg2: rgba(255, 255, 255, 0.5);
	--bgh: #2c2e2e;
	--bg1: #272727;
	--bg2: #1e1e1e;

  --vh: 100vh;
  --top-bottom-height: 60px;
  height: var(--vh);
  width: 100vw;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--fg1);
}

.top {
  visibility: hidden;
  height: 0;
  background-color: var(--bg1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.top.active {
  visibility: visible;
  height: var(--top-bottom-height);
}

.back-button {
  margin: 1em;
}

.back-button:hover {
  color: var(--primary);
}

.middle {
  height: var(--vh);
}

.middle.active { 
  top: 60px;
  height: calc(var(--vh) - 2 * var(--top-bottom-height));
}

.bottom {
  visibility: hidden;
  height: 0;
  background-color: var(--bg1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom.active {
  visibility: visible;
  height: var(--top-bottom-height);
}

.index-chooser {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 2px;
  margin: 1em;
  background: #484848;
}

.index-chooser:focus {
  outline: none;
}

.index-chooser::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.index-chooser::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

.index-chooser-2 {
  border: none;
  background: none;
  -moz-appearance: textfield;
  cursor: pointer; 
  font-size: 1em;
  text-align: right;
  font-family: inherit;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 1rem;
}

.index-chooser-2:focus {
  outline: none;
  cursor: pointer; 
}

.index-chooser-2:hover {
  color: var(--primary);
  background-color: var(--bgh);
}

.index-chooser-2::-webkit-outer-spin-button,
.index-chooser-2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scroll-changer {
  margin-left: 1em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 1rem;
}

.scroll-changer:hover {
  color: var(--primary);
  background-color: var(--bgh);
}

.toc {
  visibility: hidden;
  position: absolute;
  top: var(--top-bottom-height);
  left: 0;
  height: calc(var(--vh) - 2 * var(--top-bottom-height));
  max-width: 40vw;
}

.toc.active {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}


select {
  -webkit-appearance: none; /* Remove default Chrome and Safari styling */
  -moz-appearance: none;    /* Remove default Firefox styling */
  appearance: none;         /* Remove default styling for other browsers */
  background: none;         /* Remove background */
  border: none;             /* Remove border */
  font: inherit;            /* Inherit font settings from parent */
  color: inherit;           /* Inherit text color from parent */
  background-color: transparent; /* Set background to transparent */
  background-image: none;
  outline: none;
  text-align: right;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 1rem;
  margin-right: 1em;
  min-width: auto;
  width: auto;
}

select:hover {
  color: var(--primary);
  background-color: var(--bgh);
}

#heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: fadeInPulsate 1s ease-in-out forwards;
}

#heart::before,
#heart::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

#heart::before {
    top: -25px;
    left: 0;
}

#heart::after {
    left: 25px;
    top: 0;
}

@keyframes fadeInPulsate {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-45deg) scale(0.01);
    }
    70% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

#unheart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: fadeOutPulsate 10s ease-in-out forwards; /* Reverse the animation */
}

#unheart::before,
#unheart::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

#unheart::before {
    top: -25px;
    left: 0;
}

#unheart::after {
    left: 25px;
    top: 0;
}

@keyframes fadeOutPulsate {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1); /* Start fully visible */
    }
    30% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-45deg) scale(0.01); /* End with disappearing effect */
    }
}
